[text lorem]
length = "lots"
==
<section id="events-2" data-0p-bottom-top="background-position: center 100%" data-50p-bottom-top="background-position: center 90%;" data-0-top-top="background-position: center 40%;" data-0-top-bottom="background-position: center 0%;">
    <div class="spacer">
        <div class="quote" data-anchor-target="#events-2" data-0-top-bottom="margin-bottom: 0; margin-top: 75%;" data--15p-top-bottom="margin-bottom: 50%; margin-top: 50%;" data-15p-bottom-top="margin-bottom: 50%; margin-top: 50%;" data-0-bottom-top="margin-bottom: 100%; margin-top: -50%;">
            <div>
                <h4>Lucky I'm in love with my best friend</h4>
                <h4>Lucky to have been where I have been</h4>
                <h4>Lucky to be coming home again</h4>
                <br>
                <h4 class="text-right"><span><strong><em>-Jason Mraz, "Lucky"</em></strong></span></h4>
            </div>
        </div>
    </div>
</section>
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1>Locations</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Event">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 itemprop="summary"><span itemprop="name">The Wedding</span></h2>
                    </div>
                </div>
                <div class="event-container">
                    <div class="row event-section">
                        <div class="col-xs-12">
                            <div class="event-img-container" data-target="wedding-info">
                                <div class="event-overlay"></div>
                                <span class="glyphicon glyphicon-hand-up corner-icon"></span>
                                <img class="img-responsive" src="{{ 'assets/images/locations/MDPCnight.jpg' | theme }}" itemprop="photo">
                            </div>
                        </div>
                    </div>
                    <div id="wedding-info" class="row event-info">
                        <div class="col-md-4" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                            <h3>Location</h3>
                            <p><strong><a href="http://www.mdpc.org/" target="_blank" itemprop="name">Memorial Drive Presbyterian Church</a></strong></p>
                            <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                <p><span itemprop="street-address">11612 Memorial Dr</span><br><span itemprop="locality">Houston</span>, <span itemprop="region">TX</span> 77024</p>
                            </div>
                            <h3>Parking</h3>
                            <p>Plenty of parking available in large lot at back of church, turn into lot from Blalock St.</p>
                        </div>
                        <div class="col-md-4" itemprop="description">
                            <h3>Schedule</h3>
                            <meta itemprop="startDate" datetime="2015-06-20T16:30-06:00" content="2015-06-20T16:30-06:00"/>
                            <ul class="text-left">
                                <li>4:30: Seating Begins</li>
                                <li>4:40: Prelude Music Begins</li>
                                <li>5:00: Wedding Procession Starts</li>
                                <li>5:45-6:15: Family Portraits in Sanctuary</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>Directions</h3>
                                    <button class="open-directions btn btn-info btn-sm">Open/Close Directions</button>
                                    <button class="print-directions btn btn-success btn-sm">Print Directions</button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="map-container">
                                        <div id="mdpc-map"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel-container">
                                        <div id="mdpc-panel" class="panel"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Event">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 itemprop="summary"><span itemprop="name">The Reception</span></h2>
                    </div>
                </div>
                <div class="event-container">
                    <div class="row event-section">
                        <div class="col-xs-12">
                            <div class="event-img-container" data-target="recep-info">
                                <div class="event-overlay"></div>
                                <span class="glyphicon glyphicon-hand-up corner-icon"></span>
                                <img class="img-responsive" src="{{ 'assets/images/locations/gallerymsquared.jpg' | theme }}" style="max-width: 680px; width: 100%;" itemprop="photo">
                            </div>
                        </div>
                    </div>
                    <div id="recep-info" class="row event-info">
                        <div class="col-md-4" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                            <h3>Location</h3>
                            <p><strong><a href="http://gallerymsquared.com/" target="_blank" itemprop="name">Gallery M<sup>2</sup></a></strong></p>
                            <p>(the old Heights Theater - look for the marquee!)</p>
                            <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                <p><span itemprop="street-address">339 W 19th St</span><br><span itemprop="locality">Houston</span>, <span itemprop="region">TX</span> 77008</p>
                            </div>
                            <h3>Parking</h3>
                            <p>Street parking available along 19th St., or feel free to park a block away in lot of Select Specialty Hospital at 19th St. and Ashland.</p>
                        </div>
                        <div class="col-md-4">
                            <h3>Schedule</h3>
                            <meta itemprop="startDate" datetime="2015-06-20T18:00-06:00" content="2015-06-20T18:00-06:00"/>
                            <ul class="text-left" itemprop="description">
                                <li>6:00 PM: Reception Opens</li>
                                <li>6:30: Festivities Begin, Food is Served</li>
                                <li>7:30: Coffee Bar Opens</li>
                                <li>9:30: Coffee Bar Closes</li>
                                <li>10:00: Reception Closes</li>
                            </ul>
                            <h3>Thanks To</h3>
                            <p><strong>Catering</strong> by <a href="http://butterandcompany.com" target="_blank">Butter and Company</a></p>
                            <p><strong>Coffee Bar</strong> by <a href="http://www.javapura.com/" target="_blank">Java Pura</a></p>
                            <p><strong>Entertainment</strong> by Matrix Band</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>Directions</h3>
                                    <button class="open-directions btn btn-info btn-sm">Open/Close Directions</button>
                                    <button class="print-directions btn btn-success btn-sm">Print Directions</button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="map-container">
                                        <div id="gm2-map"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel-container">
                                        <div id="gm2-panel" class="panel"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>