[text lorem]
length = "some"
==
<section id="gallery">
    <div class="container-fluid">
        <!-- main slider carousel -->
        <div class="row">
            <div class="col-md-12">
            
            
                <div id="galleryCar" class="carousel slide" data-ride="carousel" style="display:none;">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner" role="listbox">
                        <div class="active item" data-slide-number="0">
                          <img src="//wgal1.gretaandjeremy.com/15-sm.jpg" srcset="//wgal1.gretaandjeremy.com/15.jpg 1200w, //wgal1.gretaandjeremy.com/15-md.jpg 600w, //wgal1.gretaandjeremy.com/15-sm.jpg 396w, //wgal1.gretaandjeremy.com/15-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="1">
                            <img src="//wgal1.gretaandjeremy.com/13-sm.jpg" srcset="//wgal1.gretaandjeremy.com/13.jpg 1200w, //wgal1.gretaandjeremy.com/13-md.jpg 600w, //wgal1.gretaandjeremy.com/13-sm.jpg 396w, //wgal1.gretaandjeremy.com/13-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="2">
                          <img src="//wgal1.gretaandjeremy.com/17-sm.jpg" srcset="//wgal1.gretaandjeremy.com/17.jpg 1200w, //wgal1.gretaandjeremy.com/17-md.jpg 600w, //wgal1.gretaandjeremy.com/17-sm.jpg 396w, //wgal1.gretaandjeremy.com/17-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="3">
                          <img src="//wgal1.gretaandjeremy.com/18-sm.jpg" srcset="//wgal1.gretaandjeremy.com/18.jpg 2000w, //wgal1.gretaandjeremy.com/18-md.jpg 1000w, //wgal1.gretaandjeremy.com/18-sm.jpg 660w, //wgal1.gretaandjeremy.com/18-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="4">
                          <img src="//wgal1.gretaandjeremy.com/14-sm.jpg" srcset="//wgal1.gretaandjeremy.com/14.jpg 1200w, //wgal1.gretaandjeremy.com/14-md.jpg 600w, //wgal1.gretaandjeremy.com/14-sm.jpg 396w, //wgal1.gretaandjeremy.com/14-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="5">
                          <img src="//wgal1.gretaandjeremy.com/16-sm.jpg" srcset="//wgal1.gretaandjeremy.com/16.jpg 1200w, //wgal1.gretaandjeremy.com/16-md.jpg 600w, //wgal1.gretaandjeremy.com/16-sm.jpg 396w, //wgal1.gretaandjeremy.com/16-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://www.rice.edu/" target="_blank">Rice University Campus</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="6">
                          <img src="//wgal1.gretaandjeremy.com/19-sm.jpg" srcset="//wgal1.gretaandjeremy.com/19.jpg 2000w, //wgal1.gretaandjeremy.com/19-md.jpg 1000w, //wgal1.gretaandjeremy.com/19-sm.jpg 660w, //wgal1.gretaandjeremy.com/19-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://catalinacoffeeshop.com/" target="_blank">Catalina Coffee</a></p>
                                <p>Thanks to Sarah for the great latte art!</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="7">
                          <img src="//wgal1.gretaandjeremy.com/20-sm.jpg" srcset="//wgal1.gretaandjeremy.com/20.jpg 1200w, //wgal1.gretaandjeremy.com/20-md.jpg 600w, //wgal1.gretaandjeremy.com/20-sm.jpg 396w, //wgal1.gretaandjeremy.com/20-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://catalinacoffeeshop.com/" target="_blank">Catalina Coffee</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="8">
                          <img src="//wgal2.gretaandjeremy.com/21-sm.jpg" srcset="//wgal2.gretaandjeremy.com/21.jpg 1200w, //wgal2.gretaandjeremy.com/21-md.jpg 600w, //wgal2.gretaandjeremy.com/21-sm.jpg 396w, //wgal2.gretaandjeremy.com/21-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://catalinacoffeeshop.com/" target="_blank">Catalina Coffee</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="9">
                          <img src="//wgal2.gretaandjeremy.com/22-sm.jpg" srcset="//wgal2.gretaandjeremy.com/22.jpg 1200w, //wgal2.gretaandjeremy.com/22-md.jpg 600w, //wgal2.gretaandjeremy.com/22-sm.jpg 396w, //wgal2.gretaandjeremy.com/22-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://buffalobayou.org/visit/destination/buffalo-bayou-park/#eleanor-tinsley-park" target="_blank">Eleanor Tinsley Park</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="10">
                          <img src="//wgal2.gretaandjeremy.com/23-sm.jpg" srcset="//wgal2.gretaandjeremy.com/23.jpg 2000w, //wgal2.gretaandjeremy.com/23-md.jpg 1000w, //wgal2.gretaandjeremy.com/23-sm.jpg 660w, //wgal2.gretaandjeremy.com/23-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://buffalobayou.org/visit/destination/buffalo-bayou-park/#eleanor-tinsley-park" target="_blank">Eleanor Tinsley Park</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="11">
                          <img src="//wgal2.gretaandjeremy.com/24-sm.jpg" srcset="//wgal2.gretaandjeremy.com/24.jpg 1200w, //wgal2.gretaandjeremy.com/24-md.jpg 600w, //wgal2.gretaandjeremy.com/24-sm.jpg 396w, //wgal2.gretaandjeremy.com/24-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Engagement photography by <a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></p>
                                <p>Location: <a href="http://buffalobayou.org/visit/destination/buffalo-bayou-park/#eleanor-tinsley-park" target="_blank">Eleanor Tinsley Park</a></p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="12">
                            <img src="//wgal2.gretaandjeremy.com/1-sm.jpg" srcset="//wgal2.gretaandjeremy.com/1.jpg 2000w, //wgal2.gretaandjeremy.com/1-md.jpg 1000w, //wgal2.gretaandjeremy.com/1-sm.jpg 660w, //wgal2.gretaandjeremy.com/1-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Hanging out under a cherry tree near the Capitol Building in Washington D.C.</p>
                                <p>During Greta's first 2011 Spring Break visit to Maryland.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="13">
                          <img src="//wgal2.gretaandjeremy.com/2-sm.jpg" srcset="//wgal2.gretaandjeremy.com/2.jpg 2000w, //wgal2.gretaandjeremy.com/2-md.jpg 1000w, //wgal2.gretaandjeremy.com/2-sm.jpg 660w, //wgal2.gretaandjeremy.com/2-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>In front of the Capitol Building in Washington D.C.</p>
                                <p>During Greta's first 2011 Spring Break visit to Maryland.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="14">
                          <img src="//wgal2.gretaandjeremy.com/3-sm.jpg" srcset="//wgal2.gretaandjeremy.com/3.jpg 2000w, //wgal2.gretaandjeremy.com/3-md.jpg 1000w, //wgal2.gretaandjeremy.com/3-sm.jpg 660w, //wgal2.gretaandjeremy.com/3-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Early July, 2011, during Jeremy's first visit to Nederland.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="15">
                          <img src="//wgal2.gretaandjeremy.com/4-sm.jpg" srcset="//wgal2.gretaandjeremy.com/4.jpg 2000w, //wgal2.gretaandjeremy.com/4-md.jpg 1000w, //wgal2.gretaandjeremy.com/4-sm.jpg 660w, //wgal2.gretaandjeremy.com/4-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Christmas at the Brannans', 2011.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="16">
                          <img src="//wgal3.gretaandjeremy.com/5-sm.jpg" srcset="//wgal3.gretaandjeremy.com/5.jpg 1200w, //wgal3.gretaandjeremy.com/5-md.jpg 600w, //wgal3.gretaandjeremy.com/5-sm.jpg 396w, //wgal3.gretaandjeremy.com/5-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Christmas Eve at the Brannans', 2011.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="17">
                          <img src="//wgal3.gretaandjeremy.com/6-sm.jpg" srcset="//wgal3.gretaandjeremy.com/6.jpg 2000w, //wgal3.gretaandjeremy.com/6-md.jpg 1000w, //wgal3.gretaandjeremy.com/6-sm.jpg 660w, //wgal3.gretaandjeremy.com/6-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>In the Hirshorn courtyard on the National Mall, June 2013, on the week of Jeremy's graduation!</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="18">
                          <img src="//wgal3.gretaandjeremy.com/7-sm.jpg" srcset="//wgal3.gretaandjeremy.com/7.jpg 2000w, //wgal3.gretaandjeremy.com/7-md.jpg 1000w, //wgal3.gretaandjeremy.com/7-sm.jpg 660w, //wgal3.gretaandjeremy.com/7-xs.jpg 500w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Hanging out at the Rimpos' before seeing the Baltimore Symphony, June 2013.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="19">
                          <img src="//wgal3.gretaandjeremy.com/8-sm.jpg" srcset="//wgal3.gretaandjeremy.com/8.jpg 1200w, //wgal3.gretaandjeremy.com/8-md.jpg 600w, //wgal3.gretaandjeremy.com/8-sm.jpg 396w, //wgal3.gretaandjeremy.com/8-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>A university graduate with his girlfriend, 2013.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="20">
                          <img src="//wgal3.gretaandjeremy.com/9-sm.jpg" srcset="//wgal3.gretaandjeremy.com/9.jpg 1200w, //wgal3.gretaandjeremy.com/9-md.jpg 600w, //wgal3.gretaandjeremy.com/9-sm.jpg 396w, //wgal3.gretaandjeremy.com/9-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Christmas, 2013, on the Brannan stairs.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="21">
                          <img src="//wgal3.gretaandjeremy.com/10-sm.jpg" srcset="//wgal3.gretaandjeremy.com/10.jpg 1200w, //wgal3.gretaandjeremy.com/10-md.jpg 600w, //wgal3.gretaandjeremy.com/10-sm.jpg 396w, //wgal3.gretaandjeremy.com/10-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Easter, 2014.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="22">
                          <img src="//wgal3.gretaandjeremy.com/11-sm.jpg" srcset="//wgal3.gretaandjeremy.com/11.jpg 1200w, //wgal3.gretaandjeremy.com/11-md.jpg 600w, //wgal3.gretaandjeremy.com/11-sm.jpg 396w, //wgal3.gretaandjeremy.com/11-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>The Smith & Associates 30th Anniversary Gala at the Houstonian, last night of a week-long celebration. May, 2014.</p>
                            </div>
                        </div>
                        <div class="item" data-slide-number="23">
                          <img src="//wgal3.gretaandjeremy.com/12-sm.jpg" srcset="//wgal3.gretaandjeremy.com/12.jpg 1200w, //wgal3.gretaandjeremy.com/12-md.jpg 600w, //wgal3.gretaandjeremy.com/12-sm.jpg 396w, //wgal3.gretaandjeremy.com/12-xs.jpg 300w" class="img-responsive">
                            <div class="carousel-caption">
                                <p>Thanksgiving 2014.</p>
                            </div>
                        </div>
                    </div>
                    <!-- main slider carousel nav controls -->
                    <a class="carousel-control left" href="#galleryCar" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control right" href="#galleryCar" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
                
            </div>
        </div>
        <!--/main slider carousel-->
      	<!-- thumb navigation carousel -->
      	<div class="row" id="slider-thumbs">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-0" class="selected">
                    <img src="//wgal1.gretaandjeremy.com/thumb/15-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-1" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/13-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-2" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/17-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-3" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/18-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-4" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/14-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-5" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/16-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-6" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/19-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-7" class="">
                    <img src="//wgal1.gretaandjeremy.com/thumb/20-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-8" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/21-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-9" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/22-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-10" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/23-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-11" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/24-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-12" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/1-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-13" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/2-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-14" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/3-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-15" class="">
                    <img src="//wgal2.gretaandjeremy.com/thumb/4-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-16" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/5-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-17" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/6-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-18" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/7-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-19" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/8-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-20" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/9-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-21" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/10-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-22" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/11-th.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <a id="carousel-selector-23" class="">
                    <img src="//wgal3.gretaandjeremy.com/thumb/12-th.jpg" class="img-responsive">
                </a>
            </div>
      	</div>
    </div>
</section>