[text lorem]
length = "some"
==
<section id="people" data-0-bottom-top="background-position: center 0%;" data-0-top-top="background-position: center 5%;" data-0-bottom-bottom="background-position: center 85%;" data-0-top-bottom="background-position: center 105%;">
    <div class="spacer"></div>
    <div itemscope itemtype="http://data-vocabulary.org/Person">
        <meta itemprop="name" content="Jeremy Rimpo"/>
        <meta itemprop="title" content="Groom"/>
        <meta itemprop="url" content="http://www.unabridgedillusions.com"/>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Person">
        <meta itemprop="name" content="Greta Brannan"/>
        <meta itemprop="title" content="Bride"/>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"><h1 style="padding-bottom: 0;">The Cast</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                       <h2>Bridesmaids</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Rebecca</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Rebecca.jpg' | theme}}" srcset="{{'assets/images/people/Rebecca.jpg' | theme}} 477w, {{'assets/images/people/Rebecca-md.jpg' | theme}} 289w, {{'assets/images/people/Rebecca-sm.jpg' | theme}} 144w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Rebecca Fieler</h2>
                                            <h2 itemprop="title">Maid of Honor</h2>
                                            <p>Rebecca and I met a few years ago at my maid Christy’s baby shower, and we quickly developed a bond over shared love of good food and good music. She also has the unique distinction of rivaling me in the gift of gab! I think our first dinner together must have lasted about 2 or 3 hours. ;)</p>
                                            <p>We can often be found going to concerts - or having far too long meals in fun restaurants - as we catch up on our busy lives. Especially after tax season - being a tax accountant, she works pretty wild hours those times of year, and it’s always nice to celebrate when it’s over!</p>
                                            <p>Rebecca is always a great sounding board, with practical advice and support at the ready. She has a wicked fun sense of humor, is as good of a listener as a talker, and has a heart of gold.</p>
                                            <p>I am thrilled to have connected with her since my move to Houston, and so happy to have her as my Maid of Honor!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Kathleen</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Kathleen.jpg' | theme}}" srcset="{{'assets/images/people/Kathleen.jpg' | theme}} 477w, {{'assets/images/people/Kathleen-md.jpg' | theme}} 289w, {{'assets/images/people/Kathleen-sm.jpg' | theme}} 144w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Kathleen LeBlanc-Hood</h2>
                                            <p>I have known Kathleen so long it’s hard to remember exactly when we met – I believe it was first through twirling! Through she grew up in a neighboring town, we often saw each other at band camps or regional competitions, and always had a blast catching up.</p>
                                            <p>In college, we finally became classmates as we both entered Lamar University as music majors. We really grew close through our music studies (she: clarinet, me: saxophone), and discovered how much of kindred spirits we were, in every way. We pledged sororities together, partied together, and generally shared all the ups and downs of college life and surviving your early twenties. ;)</p>
                                            <p>After several years spent on the East Coast, during which Kathleen got married, we were able to reconnect when she moved back and we were both finishing our degrees. It was like no time had passed, and I realized then how much our friendship has always meant.</p>
                                            <p>Kathleen is an exceptional musician, an incredible friend, and one of the hardest-working, strongest women I have ever known. She is currently studying nursing and lives in Boston with her husband, Al. I am so excited she will be coming down to be a part of our special day!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Christy</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Christy.jpg' | theme}}" srcset="{{'assets/images/people/Christy.jpg' | theme}} 328w, {{'assets/images/people/Christy-sm.jpg' | theme}} 164w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Christy Pope</h2>
                                            <p>Christy and I have known each other for so many years... We first met through middle school classes and band and then became close through church youth group at First Baptist Nederland. What strikes me about Christy is her incredible smile; she just lights up a room with her bubbly personality and positive nature – you can’t help but smile too!</p>
                                            <p>Though we went our own ways during the college years, she has always been a true friend. After Christy received her law degree and began her career in the Houston area, we reconnected. Once I also moved here in 2012, we finally found ourselves in the same area again.</p>
                                            <p>We have had a chance to spend lots of time together over the last few years through our regular girls’ brunch, baby showers for her two adorable sons Will and Alex, and their births and birthday parties. It’s so much fun to hang out with Christy and her husband Clay.</p>
                                            <p>Christy is a woman of great faith and is such an inspiration to me. She is an amazing wife and mother, and she somehow balances a new venture as an insurance agent on top of that. It is wonderful to have her stand by me as I say I do!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                       <h2>Groomsmen</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Jeremy T.</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Trunkage.jpg' | theme}}" srcset="{{'assets/images/people/Trunkage.jpg' | theme}} 477w, {{'assets/images/people/Trunkage-md.jpg' | theme}} 289w, {{'assets/images/people/Trunkage-sm.jpg' | theme}} 144w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Jeremy Trunk</h2>
                                            <h2 itemprop="title">Best Man</h2>
                                            <p>Due to confusing matters of name duplication between us, Jeremy T. is usually known as Trunk. In fact, he called himself Trunkage online for a while, and the name sort of stuck.</p>
                                            <p>He and I first met around the age of fifteen during a summer camp just prior to our freshman year of high school. We had a great time riding rollercoasters and climbing rock walls. However, despite both attending the same high school, we didn't strike up the friendship again we were pitted together for survival in 10th grade English class. Soon came much internet game playing, birthday parties, weekends hanging out (usually with the other groomsmen), et al. There was also a collaborative childrens' story for said english class.</p>
                                            <p>Trunk's interests range between astrophysics (ask him to point out Orion's belt), programming, animation, and - of course - games.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Rawson</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Ross.jpg' | theme}}" srcset="{{'assets/images/people/Ross.jpg' | theme}} 477w, {{'assets/images/people/Ross-md.jpg' | theme}} 289w, {{'assets/images/people/Ross-sm.jpg' | theme}} 144w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Rawson Porter</h2>
                                            <p>The longest known of the three groomsmen, Ross and I first met as homeroom-mates in middle school - which continued through the middle school years in addition to the classes we shared.</p>
                                            <p>At the time, it was only a couple years since my family had moved to Maryland and I didn't yet have any close local friends. Though high school districting routed us to different schools, we continued to hang out regularly, and it wasn't long before Ross met and became good friends with the other two Groomsmen.</p>
                                            <p>Though he took an interesting path through school initially, Ross is now well into his studies as an electical engineer at the Univ. of Maryland. He also works as IT support for the local college system.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
                                <h4>Tim</h4>
                                <div class="portrait">
                                    <span class="glyphicon glyphicon-hand-up bottom-icon"></span>
                                    <div class="port-info-container">
                                        <img class="img-responsive img-circle" src="{{'assets/images/people/Tim.jpg' | theme}}" srcset="{{'assets/images/people/Tim.jpg' | theme}} 477w, {{'assets/images/people/Tim-md.jpg' | theme}} 289w, {{'assets/images/people/Tim-sm.jpg' | theme}} 144w" sizes="(min-width: 991px) calc(16vw - 30px), (min-width: 767) calc(50vw - 30px), calc(100vw - 30px)" itemprop="photo">
                                        <div class="port-info">
                                            <h2 itemprop="name">Tim Ryals</h2>
                                            <p>Tim and I met in our first class of the freshman high school year. Deskmates, we quickly became friends (despite a certain incident with a blue pen), comparing games on our TI-83 calculators and having fun being nerds.</p>
                                            <p>Tim is perhaps unique of the three groomsmen as being my only other fellow band member - although oboe and trombone didn't sit terribly close to one another. (Though we definitely both got to share the band camp experience.) He and I are both voracious readers and have traded several fantasy series over the years (whereas Trunk leans more toward sci-fi).</p>
                                            <p>Tim was the first of our group to move out on his own, though he eventually made his way to Colorado to be near the rest of his family - who had moved some years earlier. He is currently taking economics courses while working full time at a local bank.</p>
                                            <p>His last year went particularly well: He had to deal with a math professor with a grudge who enjoys assigning every problem in the textbook, maintaining a 4.0 so his company would pay his full tuition, a full time job, and a lawsuit due to poor communiaction about a rate increase at his Maryland condo and resulting fees. We should probably buy him a beer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</section>