==
<section id="registry" data-0-bottom-top="background-position: center 0%;" data-0-top-bottom="background-position: center 100%;">
    <div class="spacer"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"><h1>Gifts & Registries</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Honeymoon Fund</h2>
                <p>As we've been together for a while, we already have quite a few household things, so with that in mind, we’ve created a honeymoon fund at Wanderable for our excursion to Napa Valley and San Francisco!</p>
                <p>You can get us items such as a bottle of wine, a meal, help us pay for a night's lodging, or - a ticket for the Napa Valley Wine Train!</p>
                <p>Click on the Wanderable logo below to go to our registry and become a part of our wine country adventure!</p>
                <a class="wander-img" href="https://www.wanderable.com/hm/GretaAndJeremy" target="_blank">
                    <img class="spacer" src="{{'assets/images/wanderable-spacer.png' | theme}}">
                    <img class="sprite-a" src="{{'assets/images/wanderable-logo.png' | theme}}" alt="Wanderable Logo">
                    <img class="sprite-b" src="{{'assets/images/wanderable-logo.png' | theme}}" alt="Wanderable Logo">
                </a>
                <br>
                <p class="text-center">If you'd rather give us a traditional gift, here are some options!</p>
            </div>
            <div class="col-xs-12">
               <h2>Traditional</h2>
               <br>
               <div class="row">
                   <div class="col-sm-12 voffset3">
                        <p class="text-center"><strong>Macy's Friends & Family Sale is now on through May 4th! When you're ready to checkout, use the promo code: FRIEND or mention it in store. You can get an extra 10-25% off the purchase.</strong></p>
                   </div>
                   <div class="col-sm-6 voffset3">
                        <a class="macys-img pull-right-sm" href="http://www1.macys.com/registry/wedding/guest/?registryId=6318703" target="_blank">
                            <img class="spacer" src="{{'assets/images/macys-spacer.png' | theme}}">
                            <img class="sprite-a" src="{{'assets/images/macys-logo.png' | theme}}" alt="Macy's Logo">
                            <img class="sprite-b" src="{{'assets/images/macys-logo.png' | theme}}" alt="Macy's Logo">
                        </a>
                   </div>
                   <div class="col-sm-6 voffset3">
                        <a class="bbb-img pull-left-sm" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541916614&pwsurl=" target="_blank">
                            <img class="spacer" src="{{'assets/images/BBB-spacer.png' | theme}}">
                            <img class="sprite-a" src="{{'assets/images/BBB-logo.png' | theme}}" alt="Macy's Logo">
                            <img class="sprite-b" src="{{'assets/images/BBB-logo.png' | theme}}" alt="Macy's Logo">
                        </a>
                        <br>
                        &nbsp;
                        <br>
                        &nbsp;
                        <br>
                   </div>
                   <div class="col-xs-12 voffset3"></div>
               </div>
            </div>
        </div>
    </div>
</section>