==
<section id="rsvp" data-0-bottom-top="background-position: center -30%;" data-0-bottom-bottom="background-position: center 90%;">
    <div class="spacer"></div>
    <div class="container-fluid">
        <div class="inner">
            <div class="row">
                <div class="col-sm-12 rsvp-header">
                    <h1>RSVP</h1>
                    <p class="text-center">Password will arrive with the official invite.</p>
                </div>
            </div>
            <div class="row">
                <div id="rsvp-message" class="text-center col-xs-12">{% partial 'rsvpmessage' %}</div>
                <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
                    <form data-request="onSubmit" data-request-update="rsvpmessage: '#rsvp-message'">
                        <div class="form-group">
                            <label for="name">Name(s) (*)</label>
                            <input id="name" name="name" required type="text" class="form-control" placeholder="Jeremy Rimpo">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="attending"># Attending (*)</label>
                                    <input id="attending" name="attending" required type="number" min="0" class="form-control" value="2">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="children"># Children</label>
                                    <input id="children" name="children" type="number" min="0" class="form-control" value="0">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" required type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note">A Note For Us:</label>
                            <textarea id="note" name="note" class="form-control" placeholder="You're so awesome!"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="email">(Optional) Confirmation Email:</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="your@email.here">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">RSVP</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h2>Contact Us</h2>
                    <h4>Any questions? Shoot us an email!</h4>
                    <p><strong>Email: <a href="mailto:us@gretaandjeremy.com">us@gretaandjeremy.com</a></strong></p>
                    <h3>Credits</h3>
                    <p>Thanks to <strong><a href="http://www.jaredtseng.com" target="_blank">Jared Tseng Photography</a></strong> for the amazing photos!</p>
                    <p><small>Designed by Greta & Jeremy. <a href="http://unabridgedillusions.com" target="_blank">Built by Jeremy</a>.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>