==
<section id="travel-2" data-0-bottom-top="background-position: center 0%;" data-0-bottom-bottom="background-position: center 85%;" data-0-top-bottom="background-position: center 100%;">
    <div class="spacer"></div>
</section>
<section id="travel">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-sm-12"><h1>To Stay</h1><h2>The Hilton Post Oak</h2></div>
            </div>
            <div class="event-container">
                <div class="row event-section">
                    <div class="col-xs-12">
                        <div class="event-img-container" data-target="hilton-info">
                            <div class="event-overlay"></div>
                            <span class="glyphicon glyphicon-hand-up corner-icon"></span>
                            <img class="img-responsive" src="{{ 'assets/images/locations/hilton-hotel.jpg' | theme }}" style="max-width: 680px; width: 100%;">
                        </div>
                        <div class="voffset2 alert alert-danger alert-dismissible" style="max-width: 600px; margin: 0 auto;" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p class="text-center" style="color: #000;">NOTICE: As of June 4th, our previous hotel, the Omni, has had to cancel due to flooding. Because of this, you must immediately re-book at the Hilton Post Oak hotel. As an upside, the rates have been negotiated even lower than before. Click the image above to see the full information.</p>
                        </div>
                    </div>
                </div>
                <div id="hilton-info" class="row event-info">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Our Room Block</h2>
                                <div class="voffset4"></div>
                                <a class="hilton-img" href="http://www.hilton.com/en/hi/groups/personalized/I/IAHWSHH-SRJUN-20150602/index.jhtml?WT.mc_id=POG" target="_blank">
                                    <img class="spacer" src="{{'assets/images/hilton-spacer.png' | theme}}">
                                    <img class="sprite-a" src="{{'assets/images/Hilton_Logo.png' | theme}}" alt="Hilton Logo">
                                    <img class="sprite-b" src="{{'assets/images/Hilton_Logo.png' | theme}}" alt="Hilton Logo">
                                </a>
                                <p class="voffset2">Click above to book now with our negotiated rates. You will have a group code entered automatically if you're in the right place!</p>
                                <p>You may also call 1-800-245-7299 or 713-961-9300 and mention group code Social Rate June or SRJUN.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Location</h3>
                                <p><strong><a href="http://www3.hilton.com/en/hotels/texas/hilton-houston-post-oak-IAHWSHH/index.html" target="_blank">Hilton Houston Post Oak</a></strong></p>
                                <p>2001 Post Oak Boulevard<br>Houston, TX 77056</p>
                                <p>1-800-245-7299 or 713-961-9300</p>
                            </div>
                            <div class="col-md-4 text-left">
                                <h3>Info & Scheduling</h3>
                                <p>Our room block is for June 18th-20th, however you are able to keep our negotiated rates if you wish to arrive earlier or stay longer!</p>
                                <p>There are three rates available depending on the room.</p>
                                <ol>
                                    <li>$99/night - Standard King Beds</li>
                                    <li>$109/night - Standard Double Beds</li>
                                    <li>$139/night - Jr. Suites and Executive King/Double Beds</li>
                                    <li>$169/night - Executive Junior Suites</li>
                                </ol>
                                <p>We also have a special rate of $10/night parking.</p>
                                <h3>Tips</h3>
                                <p>Due to the abrupt need to change hotels, the availability of suites is limited, so if you want one, book soon!</p>
                                <p>While Wi-Fi is not necessarily free, Hilton hotels typically have a deal with AT&T. U-Verse customers can log in for free Wi-Fi.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Map</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="map-container">
                                            <div id="hilton-map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset2">
                <div class="col-sm-12"><h1>To Do</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row text-left">
                        <div class="col-sm-12 text-center">
                            <p>The Omni offers free transportation up to three miles from the hotel. You can pay to travel beyond that.</p>
                        </div>
                        <div class="col-md-6">
                            <h2>To Eat</h2>
                            <div class="voffset2"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.arcodoro.com">Arcodoro</a>
                                </strong>
                                <p>Great authentic Italian, focusing on Sardinian cuisine.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://caracol.net">Caracol</a>
                                </strong>
                                <p>Coastal Mexican cuisine, wonderful seafood and cocktails.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.latinbitescafe.com">Latin Bites</a>
                                </strong>
                                <p>Quaint Peruvian spot. Try the ceviche!</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.truefoodkitchen.com">True Food Kitchen</a>
                                </strong>
                                <p>Healthy, flavorful, fresh dishes, with great prices.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.kennyandziggys.com">Kenny & Ziggy's New York Delicatessen</a>
                                </strong>
                                <p>Authentic deli (w/ amazing desserts!).</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.chachos.com">Chacho's</a>
                                </strong>
                                <p>Cheap, good, all-hours Tex-Mex.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.cacaoandcardamom.com">Cacao & Cardamom</a>
                                </strong>
                                <p>Delectable and delightful handmade chocolates.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.cravecupcakes.com">Crave Cupcakes</a>
                                </strong>
                                <p>"Yummy, yummy cupcakes. Nom!" -Greta</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://iloveroost.com">roost.</a>
                                </strong>
                                <p>Classy comfort food. Divine bread. Don't miss the cauliflower!</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://uchirestaurants.com/houston">Uchi</a>
                                </strong>
                                <p>Our Engagement spot!</p>
                                <p>Great Japanese fusion. (Get the brussel sprouts!) Awesome deconstructed desserts.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>To See</h2>
                            <div class="voffset2"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.mfah.org">Museum of Fine Arts Houston</a>
                                </strong>
                                <p>Spacious museum and sculpture garden spotlighting notable art from antiquity to today. Fantastic, rotating special exhibits.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.hmns.org">Houston Museum of Natural Science</a>
                                </strong>
                                <p>(Bride's workplace!) Includes wide array of permanent and special exhibits. Paleo hall, Egypt hall, planetarium, butterfly center, and a giant-screen theater.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="https://www.menil.org">The Menil Collection</a>
                                </strong>
                                <p>Art & artifacts ranging from the Paleolithic Era to the Present in a lovely space with free admission.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://houstonarboretum.org">Houston Arboretum & Nature Center</a>
                                </strong>
                                <p>Beautiful urban green space offering nature trails and exhibits on the edge of the 1,466 acre Memorial Park.</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://camh.org">Contemporary Arts Museum Houston</a>
                                </strong>
                                <p>Fine contemporary art by regional and international artists. Exciting featured exhibits and free admission.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.simon.com/mall/the-galleria">The Galleria</a>
                                </strong>
                                <p>Miles of shopping, eateries, an indoor ice rink... Total smorgasbord!</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.houstonzoo.org">The Houston Zoo</a>
                                </strong>
                                <p>Over 6,000 animals to see from across the world in a variety of natural-habitat style exhibits.</p>
                            </div>
                            <div class="travel-item col-md-6">
                                <strong>
                                    <a href="http://www.karbachbrewing.com">Karbach Brewing Company</a>
                                </strong>
                                <p>German-style brewery featuring guided tours several times a week, with a gift shop!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>