==
<section id="welcome" style="background-attachment:fixed;" data-0-top-top="background-position: center 50%;" data-0-top-bottom="background-position: center 80%;">
    <div class="spacer" style="padding-left: 1%">
        <div class="img-wrap"  data-10p="opacity: 1.0; top: 0%;" data-50p="opacity: 0.0; top: -15%;">
            <img class="img-responsive" src="{{ 'assets/images/G+J-top.png' | theme }}">
        </div>
    </div>
</section>
<!--<section id="section-welcome-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h1 class="pull-right-md">Greta Brannan</h1>
            </div>
            <div class="col-md-2">
                <h1>&</h1>
            </div>
            <div class="col-md-5">
                <h1 class="pull-left-md">Jeremy Rimpo</h1>
            </div>
            <div class="col-md-12">
                <h2>June 20th, 2015</h2>
            </div>
        </div>
    </div>
</section>-->